<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <todo-input></todo-input>
    </header>
    <section class="main">
        <ng-container *ngIf="hasTodoItems$ | async">
            <input id="toggle-all" class="toggle-all" type="checkbox" (change)="toggleCompletion($event.target.checked)">
            <label for="toggle-all">Mark all as complete</label>
        </ng-container>
        <ul class="todo-list">
            <li *ngFor="let todo of todos$ | async" [ngClass]="{completed: todo.isCompleted, editing: todo.isEditing}">
                <todo [metadata]="todo"></todo>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="hasTodoItems$ | async">
        <span *ngIf="(incompleteTodos$ | async) as incompleteTodos" class="todo-count">
            {{ incompleteTodos.length }}
            <ng-container *ngIf="incompleteTodos.length === 1"> item </ng-container>
            <ng-container *ngIf="incompleteTodos.length > 1"> items </ng-container>
            left
        </span>
        <ng-container *ngIf="(completedTodos$ | async) as completedTodos">
            <button *ngIf="completedTodos.length" class="clear-completed" (click)="delete(completedTodos)">Clear
                Completed
            </button>
        </ng-container>
    </footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="https://github.com/dreadnautxbuddha">Peter Cortez</a></p>using
    <a href="https://angular.io/">Angular2</a>
</footer>
